.jp-audio{ font-size: 11px;	font-family:Arial, Verdana, sans-serif; color: #FFF; width:265px; display: inline-table;}
.jp-audio .jp-interface { position: relative; background-color:#333; width:100%; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px;	border-radius: 5px 5px 5px 5px;}
.jp-audio .jp-type-single .jp-interface {height:30px;}
.jp-audio .jp-type-playlist .jp-interface { height:80px; }
.jp-audio ul.jp-controls { padding:0; margin: 0; list-style: none;}
.jp-audio .jp-interface ul.jp-controls li {display:inline;float: left;}
.jp-audio .jp-interface ul.jp-controls a {display:block;overflow:hidden;text-indent:-9999px;}
.jp-audio a.jp-play {	background: url("../../images/media/play.png") 0 0 no-repeat; width:13px; height:14px; margin: 8px 5px 0 7px;}
.jp-audio a.jp-play:hover {background-position: 0 -14px;}
.jp-audio a.jp-pause {background: url("../../images/media/pause.png") 0 0 no-repeat; width:13px; height:14px; display: none; margin: 8px 5px 0 7px;}
.jp-audio a.jp-pause:hover {background-position: 0 -14px;}
.jp-audio .jp-progress { overflow:hidden;	background-color: #ddd; }
.jp-audio .jp-progress { height:6px; }
.jp-audio .jp-type-single .jp-progress { width:150px; margin-top: 12px;}
.jp-audio .jp-seek-bar { background: #cdcdcd; width:0px;	height:100%; cursor: pointer; }
.jp-audio .jp-play-bar { background: #009ae2;	width:0px;	height:100%; }
.jp-audio .jp-seeking-bg { background: url("../../images/media/seeking.gif"); }
.jp-audio .jp-current-time, .jp-audio .jp-duration {font-size:11px; display: inline-block ;width: 28px; margin-top: 8px; }
.jp-audio .jp-line-time { font-size: 11px; display: inline-block; margin: 8px 1px 0 0;}
.jp-audio .jp-jplayer audio, .jp-audio .jp-jplayer { width:0px; height:0px;}
.jp-audio a.jp-repeat { background: url("../../images/media/repeat.png") 0 0 no-repeat; width: 16px; height: 10px; margin: 10px 3px 0;}
.jp-audio a.jp-repeat-off { background: url("../../images/media/repeat.png") 0 -10px no-repeat; width: 16px; height: 10px; margin-top: 12px; margin: 10px 3px 0;}

.jp-audio-basic{ font-size: 11px; display: inline-table;}
.jp-audio-basic .jp-interface { position: relative; width:100%;}
.jp-audio-basic ul.jp-controls { padding:0; margin: 0; list-style: none;}
.jp-audio-basic .jp-interface ul.jp-controls li {display:inline;float: left;}
.jp-audio-basic .jp-interface ul.jp-controls a {display:block;overflow:hidden;text-indent:-9999px; background-color:#333; -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px;	border-radius: 10px 10px 10px 10px;}
.jp-audio-basic a.jp-play {	background: url("../../images/media/play2.png") 7px 6px no-repeat; width:20px; height:20px; display: block;}
.jp-audio-basic a.jp-play:hover {background-position: 7px -16px;}
.jp-audio-basic a.jp-pause {background: url("../../images/media/pause2.png") 6px 6px no-repeat; width:20px; height:20px; display: block;}
.jp-audio-basic a.jp-pause:hover {background-position: 6px -16px;}
.jp-audio-basic .jp-jplayer audio, .jp-audio .jp-jplayer { width:0px; height:0px;}

.jp-jplayer audio,
.jp-jplayer { width:0px; height:0px;}
.jp-jplayer { background-color: #000000;}

/*Video*/
.jp-video { font-size: 12px; font-family: Arial, Verdana, sans-serif; color: #666; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; background: #333; padding: 8px; display: inline-block;}
.jp-video .jp-type-single { position: relative; cursor: pointer;}
.jp-video-270p { width:480px;}
.jp-video-360p { width:640px; }
.jp-video-full { width:480px; height:270px;	position:static !important; position:relative;}
.jp-video-full div div { z-index:1000;}
.jp-video-full .jp-jplayer { top: 0; left: 0; position: fixed !important; position: relative; overflow: hidden;}
.jp-video-full .jp-gui { position: fixed !important; position: static; top: 0; left: 0;	width:100%;	height:100%; z-index:1001; }
.jp-video-full .jp-interface { position: absolute !important; position: relative; bottom: 0; left: 0;}
.jp-video .jp-interface{position: absolute; height: 26px; bottom: 0; left: 0; margin: 0 0 5px 5px; display: none;}
.jp-video .jp-type-single .jp-controls { width: 100%; margin: 0; padding: 0; list-style: none;}
.jp-video .jp-type-single .jp-controls li{ display: inline-block; float: left; height: 26px;}
.jp-video .jp-type-playlist ul.jp-controls { width: 134px; margin-left: 172px;}
.jp-video .jp-controls { display:inline; float: left;}
.jp-video .jp-controls-holder { position: relative;	display: inline-block; width: 100%; height: 100%; background: url("../../images/media/interface.png") repeat-x; -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;}
.jp-video .jp-progress { width: 100%; height:8px; background: url("../../images/media/video-bar.png") repeat-x 0 0; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; margin-top: 9px;}
.jp-video .jp-seek-bar { width:0px; height:100%; cursor: pointer; background: url("../../images/media/video-bar.png") repeat-x 0 -8px; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px;}
.jp-video .jp-play-bar { width:0px; height:100%; background: url("../../images/media/video-bar.png") repeat-x 0 -16px; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px;}
.jp-video .jp-seeking-bg { background: url("../../images/media/seeking.gif"); }
.jp-video .jp-volume-max {	left: 134px;}
.jp-video .jp-volume-bar { position: absolute; top:-30px; right:50px; z-index: 1002;}
.jp-video .jp-current-time { font-size: 10px; color: #FFF; font-weight: bold; display: block; width: 20px; margin: 6px 5px; width: 30px;}
.jp-video .jp-duration { font-size: 10px; color: #FFF; font-weight: bold; display: block; width: 20px; margin: 6px 5px; width: 30px; text-align: right;}
.jp-video-play { width:100%; overflow:hidden; cursor:pointer; background-color:rgba(0,0,0,0);}
.jp-video-pause { width: 100%; display: none; text-indent:-9999px; position: relative;}
.jp-video-270p .jp-video-play {	margin-top:-270px; height:270px;}
.jp-video-360p .jp-video-play {	height:100%; position: absolute; top: 0; right: 0; }
.jp-video-360p .jp-video-pause { height:100%; position: absolute; top: 0; right: 0; }
.jp-video-full .jp-video-play {	height:100%;}
.jp-video-full .jp-interface { width: 900px !important; left: 50%; margin-left: -450px;}
.jp-video-full .jp-bar { width: 745px !important;}
.jp-video-play-icon{ width: 100%; height: 100%;}
.jp-video-play-icon span{ position:relative; display:block; width: 62px; height: 62px;	margin-left:-31px; margin-top:-31px; left:50%; top:50%;	background: url("../../images/media/big-play.png") 0 0 no-repeat; text-indent:-9999px;}
.jp-video-play-icon:hover span{ background-position: 0 bottom;}
.jp-video .jp-interface ul.jp-controls a { display:block; overflow:hidden; text-indent:-9999px;}
.jp-video a.jp-play,
.jp-video a.jp-pause,
.jp-video a.jp-full-screen,
.jp-video a.jp-restore-screen{ width:20px; height:20px; }
.jp-video a.jp-play { background: url("../../images/media/small-play.png") 0 0 no-repeat; margin: 3px 2px 0 5px;}
.jp-video a.jp-play:hover {	background-position: 0 -20px; }
.jp-video a.jp-pause { background: url("../../images/media/small-pause.png") 0 0 no-repeat; margin: 3px 2px 0 5px; display: none;}
.jp-video a.jp-pause:hover { background-position: 0 -20px;}
.jp-video a.jp-mute,
.jp-video a.jp-unmute { width: 24px; height: 20px;}
.jp-video a.jp-mute { background: url("../../images/media/mute.png") 0 0 no-repeat; margin: 3px 0 0; display: none;}
.jp-video a.jp-mute:hover { background-position: 0 -20px;}
.jp-video a.jp-unmute { background: url("../../images/media/unmute.png") 0 0 no-repeat; margin: 3px 0 0; display: none;}
.jp-video a.jp-unmute:hover { background-position: 0 -20px;}
.jp-video a.jp-stop, .jp-video a.jp-previous, .jp-video a.jp-next {	width:28px;	height:28px; margin-top:6px;}
.jp-video a.jp-stop { background: url("../../images/media/jplayer.blue.monday.jpg") 0 -83px no-repeat;	margin-left:10px;}
.jp-video a.jp-stop:hover {	background: url("../../images/media/jplayer.blue.monday.jpg") -29px -83px no-repeat;}
.jp-video a.jp-previous {background: url("../../images/media/jplayer.blue.monday.jpg") 0 -112px no-repeat;}
.jp-video a.jp-previous:hover {	background: url("../../images/media/jplayer.blue.monday.jpg") -29px -112px no-repeat;}
.jp-video a.jp-next {background: url("../../images/media/jplayer.blue.monday.jpg") 0 -141px no-repeat;}
.jp-video a.jp-next:hover {	background: url("../../images/media/jplayer.blue.monday.jpg") -29px -141px no-repeat;}
.jp-video a.jp-full-screen { background: url("../../images/media/full-screen.png") 0 0 no-repeat; margin: 3px 0 0;}
.jp-video a.jp-full-screen:hover { background-position: 0 -20px;}
.jp-video a.jp-restore-screen {	background: url("../../images/media/restore-screen.png") 0 0 no-repeat; margin: 3px 0 0;}
.jp-video a.jp-restore-screen:hover { background-position: 0 -20px;}

.jp-video a.jp-repeat {
	background: url("../../images/media/jplayer.blue.monday.jpg") 0 -290px no-repeat;
}

.jp-video a.jp-repeat:hover {
	background: url("../../images/media/jplayer.blue.monday.jpg") -30px -290px no-repeat;
}

.jp-video a.jp-repeat-off {
	background: url("../../images/media/jplayer.blue.monday.jpg") -60px -290px no-repeat;
}

.jp-video a.jp-repeat-off:hover {
	background: url("../../images/media/jplayer.blue.monday.jpg") -90px -290px no-repeat;
}

.jp-video a.jp-shuffle {
	background: url("../../images/media/jplayer.blue.monday.jpg") 0 -270px no-repeat;
	margin-left: 5px;
}

.jp-video a.jp-shuffle:hover {
	background: url("../../images/media/jplayer.blue.monday.jpg") -30px -270px no-repeat;
}

.jp-video a.jp-shuffle-off {
	background: url("../../images/media/jplayer.blue.monday.jpg") -60px -270px no-repeat;
	margin-left: 5px;
}

.jp-video a.jp-shuffle-off:hover {
	background: url("../../images/media/jplayer.blue.monday.jpg") -90px -270px no-repeat;
}

/* @end */
